<md-card class="card">
  <md-card-title class="center">Create profile</md-card-title>
  <md-card-content>
    <form name="profileForm" (ngSubmit)="saveProfile(profileForm);" #profileForm="ngForm">

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !fullname.valid }">
        <md-input-container>
          <input mdInput
                 name="fullname"
                 placeholder="full name"
                 [(ngModel)]="profile.fullname"
                 #fullname="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !fullname.valid" class="help-block">full name is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !phone.valid }">
        <md-input-container>
          <input mdInput
                 name="phone"
                 placeholder="phone number"
                 [(ngModel)]="profile.phone"
                 #phone="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !phone.valid" class="help-block">phone number is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !height.valid }">
        <md-input-container>
          <input mdInput
                 name="height"
                 placeholder="height"
                 [(ngModel)]="profile.height"
                 #height="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !height.valid" class="help-block">height is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !weight.valid }">
        <md-input-container>
          <input mdInput
                 name="weight"
                 placeholder="weight"
                 [(ngModel)]="profile.weight"
                 #weight="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !weight.valid" class="help-block">weight is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !snickersBrand.valid }">
        <md-input-container>
          <input mdInput
                 name="snickersBrand"
                 placeholder="favorite sneakers brand"
                 [(ngModel)]="profile.snickersBrand"
                 #snickersBrand="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !snickersBrand.valid" class="help-block">favorite sneakers brand
          is required
        </div>
      </div>

      <div class="center date-container">
        <material-datepicker [(date)]="profile.birthday"></material-datepicker>
      </div>

      <div class="center image-crop-container" >
        <img-cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
        <span class="result" *ngIf="data.image" >
        <img [src]="data.image"
             [width]="croppedWidth"
             [height]="croppedHeight">
        </span>
      </div>

      <div class="center" style="margin-top: 20px;">
        <button md-button type="submit" color="warn">Save</button>
      </div>
    </form>

  </md-card-content>
</md-card>
