<md-card class="card" (scroll)="onScroll($event)">
  <md-card-title class="center">Edit profile</md-card-title>
  <md-card-content>
    <form name="profileForm" (ngSubmit)="saveProfile(profileForm);" #profileForm="ngForm">

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !fullname.valid }">
        <md-input-container>
          <input mdInput
            name="fullname"
            placeholder="full name"
            [(ngModel)]="profile.data.fullname"
            #fullname="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !fullname.valid" class="help-block">full name is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !phone.valid }">
        <md-input-container>
          <input mdInput
            name="phone"
            placeholder="phone number"
            [(ngModel)]="profile.data.phone"
            #phone="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !phone.valid" class="help-block">phone number is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !height.valid }">
        <md-input-container>
          <input mdInput
            name="height"
            placeholder="height"
            [(ngModel)]="profile.data.height"
            #height="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !height.valid" class="help-block">height is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !weight.valid }">
        <md-input-container>
          <input mdInput
            name="weight"
            placeholder="weight"
            [(ngModel)]="profile.data.weight"
            #weight="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !weight.valid" class="help-block">weight is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !snickersBrand.valid }">
        <md-input-container>
          <input mdInput
                 name="snickersBrand"
                 placeholder="favorite sneakers brand"
                 [(ngModel)]="profile.data.snickersBrand"
                 #snickersBrand="ngModel">
        </md-input-container>
        <div *ngIf="profileForm.submitted && !snickersBrand.valid" class="help-block">favorite sneakers brand
          is required
        </div>
      </div>

      <div class="center date-container">
        <material-datepicker [(date)]="profile.data.birthday"></material-datepicker>
      </div>

      <div class="center">
        <div class="file-upload">
          <span class="text">upload</span>
          <input id="custom-input" type="file" (change)="fileChangeListener(false, $event)">
        </div>
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <br>
        <span class="result rounded" *ngIf="data.image" >
        <img class="round-avatar" [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </span>
      </div>

      <div class="center" style="margin-top: 20px;">
        <button md-raised-button md-button type="submit" color="warn"
                [disabled]="isClickedSave" >Save</button>
        <a md-raised-button color="accent" color="warn" [routerLink] = "['/profile',  user.username]"
           [disabled]="isClickedCancel" (click)="isClickedCancel = true" >Cancel</a>
      </div>
    </form>
  </md-card-content>
</md-card>
