<md-card class="center">
  <md-card-actions>
    <a [disabled]="isClickedCreateNewPost" (click)="isClickedCreateNewPost = true"
       md-raised-button [routerLink]="['/feed/' +feedService.selfFeedIdObject.id+ '/post']" color="accent">Create new post</a>
  </md-card-actions>
</md-card>



<md-card *ngFor="let post of posts" class="card center">
  <md-card-header class="feed-card">
    <md-card-title>
      <a [routerLink]="['/feed/' + post.feedId + '/post/' + post.id]" >{{post.id}}</a>
    </md-card-title>
  </md-card-header>
  <p> {{post.width}} {{post.heigth}}
    <img [src]="post.image">
  </p>
  <md-card-content>
    <p>
      {{post.title}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button [disabled]="post.isClickedEDIT" md-button md-raised-button
            [routerLink]="['/feed/' + post.feedId + '/post/' + post.id + '/edit']">EDIT</button>
    <button [disabled]="post.isClickedDELETE" md-button md-raised-button (click)="remove( post )">DELETE</button>
  </md-card-actions>
</md-card>

