<md-toolbar color="primary">
  <div *ngIf="navbarFlag">
    <a class="navbarLink" (click)="logout()">Logout</a>
    <a class="navbarLink" [routerLink]="['/user']" routerLinkActive="active">Current User Info</a>

    <a class="navbarLink" [class.active] = "router.url == '/profile/' + (currentUser | async)?.username ||
    router.url == '/profile/' + (currentUser | async)?.username + '/edit' "
       [routerLink]="['/profile/' + (currentUser | async)?.username]">My Profile</a>


    <a class="navbarLink" [routerLink]="['/profile']" [class.active] = "router.url == '/profile'">Profiles List</a>
    <a class="navbarLink" [routerLink]="['/feed']" routerLinkActive="active">Feed</a>
  </div>
</md-toolbar>

<alert></alert>
<router-outlet></router-outlet>