<md-toolbar color="primary">
  <div *ngIf="navbarFlag">
    <a class="navbarLink" (click)="logout()">Logout</a>
    <a class="navbarLink" [routerLink]="['/user']" routerLinkActive="active">Current User Info</a>
    <a class="navbarLink" [routerLink]="['/profile']" routerLinkActive="active">Profile</a>
    <a class="navbarLink" [routerLink]="['/profiles-list']" routerLinkActive="active">Profiles List</a>
    <a class="navbarLink" [routerLink]="['/feed']" routerLinkActive="active">Feed</a>
  </div>
</md-toolbar>

<alert></alert>
<router-outlet></router-outlet>