<md-card>
  <md-card-title class="center" >Registration</md-card-title>
  <md-card-content>
    <form name="form" (ngSubmit)="signUpForm.form.valid && register()" #signUpForm="ngForm" novalidate>

      <div class="center" [ngClass]="{ 'has-error': signUpForm.submitted && !email.valid }">
        <md-input-container>
          <input mdInput
            name="email"
            type="email"
            placeholder="email"
            [(ngModel)]="model.email"
            #email="ngModel"
            required >
        </md-input-container>
        <div *ngIf="signUpForm.submitted && !email.valid" class="help-block">email is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': signUpForm.submitted && !username.valid }">
        <md-input-container>
          <input mdInput
            placeholder="user name"
            name="username"
            [(ngModel)]="model.username"
            #username="ngModel"
            required >
        </md-input-container>
        <div *ngIf="signUpForm.submitted && !username.valid" class="help-block">Username is required</div>
      </div>

      <div class="center" [ngClass]="{ 'has-error': signUpForm.submitted && !password.valid }">
        <md-input-container>
          <input mdInput
            name="password"
            type="password"
            placeholder="password"
            [(ngModel)]="model.password"
            #password="ngModel"
            required >
        </md-input-container>
        <div *ngIf="signUpForm.submitted && !password.valid" class="help-block">Password is required</div>
      </div>

      <div class="center" style="margin-top: 20px;">
        <button md-button [disabled]="signUpForm.form.invalid" class="btn btn-primary">Register</button>
        <a md-button [routerLink]="['/sign-in']" class="btn btn-link">Cancel</a>
      </div>

    </form>
  </md-card-content>
</md-card>


