<md-card>
  <md-card-title class="center" >My profile</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let item of ( (profile | async)?.data | keyAndValueOfObject)">
        <span style="text-transform: capitalize">{{item.key}}: &nbsp;</span>
        <span *ngIf="item.value == null" class="colorRed"> 'no data' </span>
        <span *ngIf="item.value !== null">{{item.value}}</span>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>



<!--<md-card>-->
  <!--<md-card-title class="center" >Edit profile</md-card-title>-->
  <!--<md-card-content>-->
    <!--<form name="profileForm" (ngSubmit)="saveProfile(profileForm);" #profileForm="ngForm">-->

      <!--<div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !full_name.valid }">-->
        <!--<md-input-container>-->
          <!--<input mdInput-->
            <!--name="full_name"-->
            <!--placeholder="full name"-->
            <!--[(ngModel)]="profile.full_name"-->
            <!--#full_name="ngModel"-->
            <!--required >-->
        <!--</md-input-container>-->
        <!--<div *ngIf="profileForm.submitted && !full_name.valid" class="help-block">full name is required</div>-->
      <!--</div>-->

      <!--<div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !phone_number.valid }">-->
        <!--<md-input-container>-->
          <!--<input mdInput-->
            <!--name="phone_number"-->
            <!--placeholder="phone number"-->
            <!--[(ngModel)]="profile.phone_number"-->
            <!--#phone_number="ngModel"-->
            <!--required >-->
        <!--</md-input-container>-->
        <!--<div *ngIf="profileForm.submitted && !phone_number.valid" class="help-block">phone number is required</div>-->
      <!--</div>-->

      <!--<div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !height.valid }">-->
        <!--<md-input-container>-->
          <!--<input mdInput-->
            <!--name="height"-->
            <!--placeholder="height"-->
            <!--[(ngModel)]="profile.height"-->
            <!--#height="ngModel"-->
            <!--required >-->
        <!--</md-input-container>-->
        <!--<div *ngIf="profileForm.submitted && !height.valid" class="help-block">height is required</div>-->
      <!--</div>-->

      <!--<div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !weight.valid }">-->
        <!--<md-input-container>-->
          <!--<input mdInput-->
            <!--name="weight"-->
            <!--placeholder="weight"-->
            <!--[(ngModel)]="profile.weight"-->
            <!--#weight="ngModel"-->
            <!--required >-->
        <!--</md-input-container>-->
        <!--<div *ngIf="profileForm.submitted && !weight.valid" class="help-block">weight is required</div>-->
      <!--</div>-->

      <!--<div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !date_of_birth.valid }">-->
        <!--<md-input-container>-->
          <!--<input mdInput-->
            <!--name="date_of_birth"-->
            <!--placeholder="date of Birth"-->
            <!--[(ngModel)]="profile.date_of_birth"-->
            <!--#date_of_birth="ngModel"-->
            <!--required >-->
        <!--</md-input-container>-->
        <!--<div *ngIf="profileForm.submitted && !date_of_birth.valid" class="help-block">date of Birth is required</div>-->
      <!--</div>-->

      <!--<div class="center" [ngClass]="{ 'has-error': profileForm.submitted && !favorite_sneakers_brand.valid }">-->
        <!--<md-input-container>-->
          <!--<input mdInput-->
            <!--name="favorite_sneakers_brand"-->
            <!--placeholder="favorite sneakers brand"-->
            <!--[(ngModel)]="profile.favorite_sneakers_brand"-->
            <!--#favorite_sneakers_brand="ngModel"-->
            <!--required >-->
        <!--</md-input-container>-->
        <!--<div *ngIf="profileForm.submitted && !favorite_sneakers_brand.valid" class="help-block">favorite sneakers brand is required</div>-->
      <!--</div>-->

      <!--<div class="center" style="margin-top: 20px;">-->
        <!--<button md-button (click)="saveProfile()" color="warn">Save</button>-->
      <!--</div>-->
    <!--</form>-->

  <!--</md-card-content>-->
<!--</md-card>-->
