/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
.center {
    text-align: center;
}

.colorWhite {
    color: #fff;
}

.colorRed {
    color: red;
}

.navbarLink {
    margin-left: 20px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color:mediumvioletred;
    cursor: default;
}