/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
.center {
    text-align: center;
}

.center-text {
    margin-left: auto;
    margin-right: auto;
}

.colorWhite {
    color: #fff;
}

.colorRed {
    color: red;
}

.sub-primary-color {
    background-color: #ede7f6
}

.background-color {
    background-color: #e3e3e3;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbarLink {
    margin-left: 20px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.active {
    color:mediumvioletred;
    cursor: default;
}

.edit-card-aria-button{
    text-align: right;
    margin-top: -30px;
}

.date-container {
    margin-top: 15px;
    margin-bottom: 20px;
}

.cdk-overlay-pane {
    position: absolute !important;
    top: 50%;
}
