<md-card *ngFor="let profile of (profiles | async)" class="card">

    <a class="navbarLink" [routerLink]="['.']"
       md-raised-button
       color="accent"
       routerLinkActive="active"
       (click)="changeUser(profile.clientId)" > Change User
    </a>

    <div class="center">
        <img *ngIf = "profile.image" class="image-style round-avatar" src="{{ profile.image }}">
        <h3 *ngIf = "!profile.image">No photo</h3>
    </div>

    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let item of ( profile | keyAndValueOfObject)">
          <span style="text-transform: capitalize">{{item.key}}: &nbsp;</span>
          <span *ngIf="item.value !== null">{{item.value}}</span>
        </md-list-item>
      </md-list>
    </md-card-content>

</md-card>
